.formSection {
  position: relative;
  margin-bottom: 40px;
  color: #fff;
}
.particlesForm {
  background-image: url(../../assets/photos/sky2.jpg);
  background-size: cover;
  height: 400px;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(65, 69, 75, 0.58);
  padding: 20px 10px;
}
.formTitleForm,
.formTitleSpan {
  font-weight: 500;
  text-align: left;
  padding-left: 10px;
  color: #fff;
  font-size: 24px;
}
.formTitleSpan {
  display: block;
  padding-left: 0;
}
.formText {
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.formContactText {
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgb(210, 212, 223);
}
.formInput,
.formInputFeedback {
  margin-left: 10px;
  width: 280px;
  color: rgb(210, 212, 223);
  background: transparent;
  border: none;
  resize: none;
}
.formInput::placeholder,
.formInputFeedback::placeholder {
  color: rgb(178, 180, 189);
}
.formDiv {
  position: relative;
}

.formDiv::after {
  content: "";
  background-color: rgb(103, 104, 110);
  height: 1px;
  width: 260px;
  position: absolute;
  top: 23px;
  left: 10px;
}
.formInputsRight .formDiv::after{
    top: 48px;
}
.learnMoreWhite {
  margin-top: 20px;
  position: relative;
  background: transparent;
  width: 274px;
  height: auto;
}

.circleWhite {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
}
.iconWhite,
.arrowWhite {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 40%;
  background: #000;
  transform: translateX(-50%);
  width: 1.125rem;
  height: 0.125rem;
}
.iconWhite {
  background: none;
}
.iconWhite::before,
.arrowWhite::before {
  position: absolute;
  content: "";
  top: -0.294rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #000000;
  border-right: 0.125rem solid #000000;
  transform: rotate(45deg);
}
.buttonTextWhite {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.learnMoreWhite:hover .circleWhite {
  width: 100%;
}
.learnMoreWhite:hover .arrowWhite {
  transform: translate(7rem, 0);
}
.learnMoreWhite:hover .buttonTextWhite {
  color: #000;
}
@media (min-width: 768px) {
  .particlesForm {
    height: 500px;
  }
  .formTitleForm {
    font-size: 30px;
    padding-top: 0px;
  }
  .form {
    width: 60%;
    padding: 20px;
    padding-left: 40px;
  }
  .formText {
    font-size: 18px;
  }
  .formInput,
  .formInputFeedback {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .formDiv::after {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(65, 69, 75, 0.58);
    padding: 20px 10px;
    width: 40%;
  }
  .inputsWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .formInputsRight .formDiv::after{
    display: none;
}
  .formInputsLeft,
  .formInputsLeft {
    width: 50%;
  }
  .formInput,
  .formInputFeedback {
    width: 300px;
  }
  .formInputFeedback {
    height: 120px;
  }
  /* .formInputFeedback::after{
top: 60px;
  } */
}
