.scrollUp,
.scrollDown{
  overflow: hidden;
}
.triggerMenuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  z-index: 4;
  background: #fff;
  transition: transform 0.4s;
  box-shadow: 0px 0px 29px -3px rgba(204, 204, 204, 1);
  height: 60px;
}
.logo{
  position: relative;
  padding-left: 50px;
  cursor: pointer;
}
.logo::before{
  content: "";
  height: 50px;
  width: 40px;
  position: absolute;
  background-image: url(../../../assets/logo/logo.svg);
  top: -12px;
  left: 0;
  background-repeat: no-repeat;
}
.triggerMenu {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #000;
}
.nav {
  display: none;
}
.menu,
.menuActive {
  width: 30px;
  height: 26px;
  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 3;
}

.menuSvg {
  width: 56px;
  height: 40px;
  top: -6px;
  left: -14px;
  stroke: #000;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute;
}

.menuSvg path {
  -webkit-transition: stroke-dasharray var(--duration, 0.85s)
      var(--easing, ease) var(--delay, 0s),
    stroke-dashoffset var(--duration, 0.85s) var(--easing, ease)
      var(--delay, 0s);
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease)
      var(--delay, 0s),
    stroke-dashoffset var(--duration, 0.85s) var(--easing, ease)
      var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.menuSvg path:nth-child(2) {
  --duration: 0.7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px;
}

.menuSvg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px;
}

.menuActive .menuSvg path {
  --offset: 57px;
}

.menuActive .menuSvg path:nth-child(1),
.menuActive .menuSvg path:nth-child(3) {
  --delay: 0.15s;
  --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1);
}

.menuActive .menuSvg path:nth-child(2) {
  --duration: 0.4s;
  --offset: 2px;
  --array-1: 1px;
}

.menuActive .menuSvg path:nth-child(3) {
  --offset: 58px;
}

.scrollDown .triggerMenuWrapper {
  transform: translate3d(0, -100%, 0);
  box-shadow: none;
}

.scrollUp .triggerMenuWrapper {
  transform: translate(0, 0%);
}
.rightWrapper {
  display: none;
}
.langWrapper {
  width: 36px;
  position: relative;
}

.langWrapper::after {
  content: "";
  background-color: #1AC3E8;
  height: 1px;
  width: 36px;
  position: absolute;
}

.langWrapper:hover {
  cursor: pointer;
}

.lang {
  text-align: center;
}

.langs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 40px;
  height: 100px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 6px;
  z-index: 5;
  transition: all 0.1s ease-in-out;
}

.langSpan {
  width: 40px;
  padding: 5px 0;
  cursor: pointer;
  text-align: center;
  z-index: 4;
  transition: all 0.1s ease-in-out;
}

.langSpan:hover {
  background-color: rgba(26, 194, 232, 0.219);
}
.langSpann:nth-child(3):hover{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media(min-width: 900px){
  .triggerMenuWrapper {
    height: 100px;
    padding: 0 50px;
  }
  .logo{
    padding-left: 60px;
    font-size: 30px;
  }
  .logo::before{
    height: 80px;
    width: 60px;
    position: absolute;
    background-image: url(../../../assets/logo/logo.svg);
    top: -16px;
    left: -12px;
  }
  .menu,
.menuActive {
  width: 40px;
  height: 46px;
}

.menuSvg {
  width: 76px;
  height: 60px;
}
}
@media (min-width: 1200px) {

  .menu {
    display: none;
  }
  .logo {
    width: 270px;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .menuNavList {
    display: flex;
    width: 540px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .menuSocialsLinkActive {
    transform: scale(1);
    transition: all 0.3s;
    cursor: pointer;
  }
  .menuSocialsLinkActive:hover {
    transform: scale(1.1);
    color: #40bad5;
  }
  .rightWrapper{
    display: flex;
    justify-content: space-between;
    width: 260px;
    align-items: center;
  }
  .contactsSocials{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
  }
  .menuSocialsList {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
  .menuSocialsLink {
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .menuSocialsCircle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;
  }
  .menuSocialsLink,
  .menuSocialsLink:before {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .menuSocialsLink,
  .menuSocialsLink:before {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .menuSocialsLink::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../../../assets/icons/socials/facebook.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
  }
  .menuSocialsLink:nth-child(1)::after {
    background-image: url(../../../assets/icons/socials/twitter.svg);
  }
  .menuSocialsLink:nth-child(3)::after {
    background-image: url(../../../assets/icons/socials/instagram.svg);
  }
  .menuSocialsLink:nth-child(4)::after {
    background-image: url(../../../assets/icons/socials/phone.svg);
  }
  .menuSocialsLink:before {
    top: 90%;
    left: -110%;
  }
  .menuSocialsLink:focus:before,
  .menuSocialsLink:hover:before {
    top: -10%;
    left: -10%;
  }
  .menuSocialsLink:before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
  }
  .menuSocialsLink:before {
    background-color: #3b5998;
  }
  .menuSocialsLink:nth-child(1)::before {
    background-color: #3cf;
  }
  .menuSocialsLink:nth-child(3)::before {
    background: linear-gradient(#4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
  }
  .menuSocialsLink:nth-child(4)::before {
    background: linear-gradient(#0367BD, #1AC3E8, #fcbf1e);
  }
  .menuSocialsLink:focus,
  .menuSocialsLink:hover {
    transform: scale(1.26);
  }
  .menuSocialsLink:focus::after,
  .menuSocialsLink:hover::after {
    background-image: url(../../../assets/icons/socials/facebookWh.svg);
  }
  .menuSocialsLink:nth-child(1):focus::after,
  .menuSocialsLink:nth-child(1):hover::after {
    background-image: url(../../../assets/icons/socials/twitterWh.svg);
  }
  .menuSocialsLink:nth-child(3):focus::after,
  .menuSocialsLink:nth-child(3):hover::after {
    background-image: url(../../../assets/icons/socials/instagramWh.svg);
  }
  .menuSocialsLink:nth-child(4):focus::after,
  .menuSocialsLink:nth-child(4):hover::after {
    background-image: url(../../../assets/icons/socials/phoneWh.svg);
  }
}
