.servicesSection {
  width: 100%;
  margin-top: 100px;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.servicesHeader {
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 28px;
}

.servicesList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesListItem {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  max-width: 240px;
}
.servicesText{
  font-size: 18px;
}
.icon{
  width: 50px;
  margin-bottom: 16px;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
path, g{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
.copyright:hover path,.copyright:hover g{
  animation: dash 5s linear alternate infinite;
}

@media (min-width: 768px) {
  .servicesList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .servicesListItem {
    width: 40%;
    margin: 30px;
  }
}
