.blogSection {
  width: 100%;
  /* background-color: rgb(235, 150, 150); */
  margin-bottom: 100px;
  position: relative;
  height: calc(100vh +30px);
  margin-top: 40px;
}

.blogHeader {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
}

.postsList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postsList div{
height: 630px;
background-color: #fff;
}
/* .postsList button[aria-label="next"]{
  right: -20px;
  width: 20px;
} */
.postsListItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.listHeader {
  text-align: center;
}

.postImg {
  height: 260px;  
  width: 100%;
  object-fit: cover;
}
.textWrapper{
  position: relative;
  top: -100px;
  background-color: #fff;
  width: 90%;
  padding-top: 10px;
  box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.23);
}
.postText {
  text-align: center;
  font-weight: 100;
  font-size: 14px;
}
.postText:nth-child(1){
  font-weight: 400;
  padding-bottom: 6px;
  font-size: 15px;
}
@media (min-width: 352px){
  .textWrapper{
    padding: 0 10px;
    padding-top: 10px;  
  }
  .postsList div{
    height: 600px;
    }
}
@media (min-width: 450px){
  .postImg {
    height: 320px;  
    width: 100%;
  }
  .postsList div{
    height: 620px;
    }
  .textWrapper{
    top: -120px;
    padding: 0 10px;
    padding-top: 10px;
  }
  .postText {
    font-weight: 100;
    font-size: 15px;
  }
  .postText:nth-child(1){
    font-size: 17px;
  }
}
@media (min-width: 520px){
  .postsListItem {
    width: 88%;
  }
  .postImg {
    height: 320px;  
    width: 88%;
  }
  .postsList div{
    height: 650px;
    }
  .textWrapper{
    top: -130px;
    padding: 10px;
    width: 80%;
  }
  
}
@media (min-width: 768px) {
  .blogHeader {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .postsList {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: space-around;
  }
  .postsList div{
    height: 640px;
    }
  .textWrapper{
    top: -198px;
    padding: 10px;
  }

  .postImg {
    height: 500px; 
  }
}
@media (min-width: 1000px) {
  .postImg {
    /* height: 300px; */
    height: 540px;
  }
  .postsList div{
    height: 670px;
    }
  .textWrapper{
    padding: 10px 26px;
  }
  .postText {
    font-size: 18px;
  }
  .postText:nth-child(1){
    font-size: 19px;
  }
}
@media (min-width: 1200px) {
  .blogHeader {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .postsList div{
    height: 750px;
    }
  .postImg {
    height: 600px;
  }
  .postText:nth-child(1){
    padding-bottom: 10px;
  }
  .textWrapper{
    top: -170px;
    padding: 16px 26px;
  }
}
@media (min-width: 1400px) {
  .postsListItem{
    max-width: 1350px;
  }
  .postImg {
    height: 700px;
    max-width: 1134px;
  }
  .postText:nth-child(1){
    padding-bottom: 10px;
  }
  .textWrapper{
    top: -170px;
    padding: 16px 26px;
    max-width: 930px;
  }
}