#tsparticles,
.particles {
  background: url(../../assets/photos/toucanUkr.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  /* background-color: #ccc; */
  /* width:100vw; */
  height: calc(100vh - 68px);
  top: 68px;
}

/* canvas{
  position: relative;
}
.particles:after{
  content: "веб студия";
  position: absolute;
  color: #fff;
  width: 280px;
  top: 120px;
  left: calc(50% - 140px);
  font-size: 46px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  mix-blend-mode: difference;
  font-weight: 800;
} */
.startBtn {
  position: absolute;
  width: 304px;
  height: 78px;
  left: 50%;
  top: 710px;
  opacity: 0;
  background: #414141de;
  background-blend-mode: difference;
  border-radius: 16px;
  transform: translate(-50%) scale(0.8);
  transition: all 0.4s ease;
  font-weight: 800;
  font-size: 30px;
  color: #fff;
}
.startBtn:hover {
  opacity: 1;
  transform: translate(-50%) scale(1);
}
@media (min-width: 700px) {
  .startBtn {
    top: 750px;
  }
}
@media (min-width: 1200px) {
  #tsparticles,
  .particles {
    height: calc(100vh - 100px);
    top: 100px;
  }
}
