@font-face {
  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 100;
  src: local("M PLUS 1p Thin"), local("MPLUS1p-Thin"),
    url("./assets/fonts/MPLUS1p-Thin.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("M PLUS 1p Light"), local("MPLUS1p-Light"),
    url("./assets/fonts/MPLUS1p-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("M PLUS 1p Regular"), local("MPLUS1p-Regular"),
    url("./assets/fonts/MPLUS1p-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("M PLUS 1p Medium"), local("MPLUS1p-Medium"),
    url("./assets/fonts/MPLUS1p-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("M PLUS 1p Bold"), local("MPLUS1p-Bold"),
    url("./assets/fonts/MPLUS1p-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 800;
  src: local("M PLUS 1p Extra-bold"), local("MPLUS1p-Extrabold"),
    url("./assets/fonts/MPLUS1p-ExtraBold.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 900;
  src: local("M PLUS 1p Black"), local("MPLUS1p-Black"),
    url("./assets/fonts/MPLUS1p-Black.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* @font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'),
    url("./assets/fonts/FredokaOne-Regular.ttf") format("truetype"); 
} */


* {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
p, span,h1, h2, h3,h4 {
  cursor: default;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
input, textarea {
  border: none;
  background-color: transparent;
}
input:focus, textarea:focus {
  outline: none;
}
ul {
  padding: 0;
}
a {
  color: #000;
  display: block;
  cursor: pointer;
}
img {
  display: block;
}

/* .container {
  width: 80%;
  margin: 0 auto;
} */

#tsparticles {
  background: url(./assets/photos/toucan.png);
  background-size: contain;
  background-position: 50% 50%;
  /* position: relative; */
  top: 100px;
  /* background-color: #ccc; */
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width:100vw; */
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  width: 300px;
}

.item1 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eed968;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
  75% {
    transform: scale(2.5);
  }
  78%,
  100% {
    opacity: 0;
  }
}
.item1:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eed968;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 200ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item2 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eece68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
  75% {
    transform: scale(2.5);
  }
  78%,
  100% {
    opacity: 0;
  }
}
.item2:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eece68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 400ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item3 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eec368;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
  75% {
    transform: scale(2.5);
  }
  78%,
  100% {
    opacity: 0;
  }
}
.item3:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eec368;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 600ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item4 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #eead68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
  75% {
    transform: scale(2.5);
  }
  78%,
  100% {
    opacity: 0;
  }
}
.item4:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eead68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 800ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item5 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #ee8c68;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%,
  75% {
    transform: scale(2.5);
  }
  78%,
  100% {
    opacity: 0;
  }
}
.item5:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ee8c68;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 1000ms;
  transition: 0.5s all ease;
  transform: scale(1);
}
