.weWorkContainer {
  width: 100%;
  position: relative;
  padding-top: 40px;
  text-align: center;
}
.weWorkTitle {
  padding-top: 20px;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.weWorkList {
  padding: 0px 0;
}
.weWorkItem {
  width: 100%;
  margin: 26px auto;
  max-width: 320px;
  border-bottom: none;
  padding: 32px 26px;
  position: relative;
  box-shadow: 2px 3px 7px rgb(226, 225, 225);
  transition: all 0.2s ease-in-out;
}
.weWorkItem:hover {
    transform: scale(1.1);
}
.iconWrapper {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
  position: relative;
  margin-bottom: 16px;
}
.icon {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
}
@keyframes line {
  0% {
    transform: translateX(-50%) scaleX(0);
    height: 2px;
    background-image: url(../../../assets/weWork/line.svg);
    background-repeat: repeat;
    top: 6px;
  }
  10% {
    transform: translateX(-50%) scaleX(1);
    background-image: url(../../../assets/weWork/line.svg);
  }
  20% {
    transform: translateX(-50%) scaleX(0);
    background-image: url(../../../assets/weWork/line.svg);
  }
  30% {
    transform: translateX(-50%) scaleX(1);
    background-image: url(../../../assets/weWork/line.svg);
    top: 6px;
  }
  39% {
    transform: translateX(-50%) scaleX(0.1);
    background-image: url(../../../assets/weWork/line.svg);
    top: 6px;
  }
  40% {
    transform: translateX(-50%) scaleX(0);
    background-image: url(../../../assets/weWork/line.svg);
    top: 8px;
  }
  50% {
    transform: translateX(-50%) scaleX(1);
    background-image: url(../../../assets/weWork/line.svg);
    width: 8px;
    top: 10px;
  }
  55% {
    transform: translateX(-50%) scaleX(0);
    background-image: url(../../../assets/weWork/line.svg);
    top: 6px;
    background-repeat: repeat;
  }
  56% {
    transform: translateX(-50%) scaleX(1);
    height: 2px;
    width: 0px;
    background-image: url(../../../assets/weWork/thumbUp.svg);
    background-repeat: no-repeat;
    top: 12px;
  }
  60% {
    transform: translateX(-50%) scaleX(1);
    height: 4px;
    width: 4px;
    background-image: url(../../../assets/weWork/thumbUp.svg);
    background-repeat: no-repeat;
    top: 8px;
  }
  68% {
    transform: translateX(-50%) scaleX(1);
    width: 14px;
    height: 14px;
    top: 4px;
    background-image: url(../../../assets/weWork/thumbUp.svg);
  }
  75% {
    transform: translateX(-50%) scaleX(1) rotate(12deg);
    background-image: url(../../../assets/weWork/thumbUp.svg);
  }
  80% {
    transform: translateX(-50%) scaleX(1) rotate(-12deg);
    background-image: url(../../../assets/weWork/thumbUp.svg);
    width: 14px;
    height: 14px;
    top: 4px;
  }
  85% {
    transform: translateX(-50%) scaleX(1) rotate(0deg);
    width: 10px;
    height: 10px;
    background-image: url(../../../assets/weWork/thumbUp.svg);
    top: 5px;
  }
  92% {
    width: 3px;
    height: 3px;
    background-image: url(../../../assets/weWork/thumbUp.svg);
    top: 8px;
  }
  100% {
    width: 0px;
    height: 0px;
    background-image: url(../../../assets/weWork/thumbUp.svg);
    top: 10px;
  }
}
@keyframes lineTwo {
  0% {
    transform: translateX(-50%) scaleX(0);
    height: 2px;
    width: 10px;
    background-image: url(../../../assets/weWork/line.svg);
    background-repeat: repeat;
  }
  10% {
    transform: translateX(-50%) scaleX(0.6);
    background-image: url(../../../assets/weWork/line.svg);
  }
  20% {
    transform: translateX(-50%) scaleX(0);
    background-image: url(../../../assets/weWork/line.svg);
  }
  30% {
    transform: translateX(-50%) scaleX(0.6);
    background-image: url(../../../assets/weWork/line.svg);
  }
  40% {
    transform: translateX(-50%) scaleX(0);
    background-image: url(../../../assets/weWork/line.svg);
  }
  61% {
    transform: translateX(-50%) scaleX(0);
    width: 0px;
    background-image: url(../../../assets/weWork/line.svg);
  }
  100% {
    transform: translateX(-50%) scaleX(0);
    width: 0px;
    background-image: url(../../../assets/weWork/line.svg);
  }
}
@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
      }
    100% {
      transform: rotate(360deg);
    }
  }
@keyframes flip {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.7);
    }
    100% {
      transform: scaleY(1);
    }
  }
  @keyframes slideL {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    30% {
        transform: translateX(-100%);
        opacity: 0;
      }
    60% {
        transform: translateX(0%);
        opacity: 1;
    }
    90%{
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
  }
  @keyframes slideR {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    30% {
        transform: translateX(0%);
        opacity: 1;
    }
    90%{
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
  }
  @keyframes paint {
    0% {
      transform: translateX(0%);
    }
    50%{
        transform: translateX(40%);
    }
    100% {
        transform: translateX(0%);
    }
  }
  @keyframes pencil {
    0% {
      transform: rotate(-130deg);
    }
    10% {
        transform: translate(-16px, -2px) rotate(-130deg);
    }
    25% {
        transform: translate(-13px, 2px) rotate(-130deg);
    }
    45% {
        transform: translate(-10px, -4px) rotate(-130deg);
    }
    55% {
        transform: translate(-16px, 14px) rotate(-130deg);
    }
    70% {
        transform: translate(-13px, 16px) rotate(-130deg);
    }
    90% {
        transform: translate(-10px, 10px) rotate(-130deg);
    }
    100% {
        transform: rotate(-130deg);
    }
  }
.iconLines,
.iconLine,
.iconSecondLine,
.iconGraph, .brush, .tablet, .mobile, .pencil {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  top: 6px;
  left: 50%;
}
.iconLine,
.iconSecondLine {
  transform: translateX(-50%);
  width: 14px;
  height: 2px;
  background-image: url(../../../assets/weWork/line.svg);
}
.iconLine {
  animation: line 6s linear infinite;
}
.iconSecondLine {
  top: 12px;
  animation: lineTwo 6s linear infinite;
}
.iconLines {
  top: 0px;
  left: 40%;
  width: 32px;
  height: 32px;
  background-image: url(../../../assets/weWork/inGraph.svg);
  animation: rotate 3s ease-in-out infinite;
}
.iconGraph{
    width: 34px;
    height: 13px;
    background-image: url(../../../assets/weWork/graph.svg);
    top: 44px;
    left: 35%;
    animation: flip 2.2s ease-in-out infinite;
}
.brush{
    width: 36px;
    height: 36px;
    background-image: url(../../../assets/weWork/brush.svg);
    top: 34px;
    background-size: contain;
    left: 54%;
    animation: paint 4.2s ease-in-out infinite;
}
.mobile{
    width: 36px;
    height: 36px;
    background-image: url(../../../assets/services/mobile.svg);
    top: 24px;
    background-size: contain;
    left: -42%;
    animation: slideL 4.2s ease-in-out infinite;
}
.tablet{
    width: 52px;
    height: 52px;
    background-image: url(../../../assets/weWork/tablet.svg);
    top: 10px;
    background-size: contain;
    left: 92%;
    animation: slideR 4.2s ease-in-out infinite;
}
.pencil{
    width: 36px;
    height: 36px;
    background-image: url(../../../assets/weWork/pencil.svg);
    top: 5px;
    background-size: contain;
    left: 20%;
    animation: pencil 5.2s ease-in-out infinite;
}
.weWorkItem:nth-child(1) .icon {
  background-image: url(../../../assets/weWork/client.svg);
}
.weWorkItem:nth-child(2) .icon {
  background-image: url(../../../assets/weWork/report.svg);
}
.weWorkItem:nth-child(3) .icon {
  background-image: url(../../../assets/weWork/design.svg);
}
.weWorkItem:nth-child(4) .icon {
  background-image: url(../../../assets/weWork/responsive.svg);
}
.weWorkItem:nth-child(5) .icon {
  background-image: url(../../../assets/weWork/checklist.svg);
}
@media (min-width: 768px) {
  .weWorkTitle {
    font-size: 30px;
    padding-top: 30px;
  }
  .weWorkList {
    display: flex;
    flex-wrap: wrap;
    max-width: 890px;
    margin: 0 auto;
  }
  .weWorkItem {
    width: 100%;
    margin: 26px auto;
    width: 260px;
    border-bottom: none;
    padding: 32px 26px;
    position: relative;
    box-shadow: 2px 3px 7px rgb(226, 225, 225);
    transition: all 0.2s ease-in-out;
  }
}
@media (min-width: 1200px) {
  .weWorkContainer{
    padding-top: 80px;
  }
  .weWorkTitle {
    font-size: 40px;
    padding-top: 20px;
  }
  .weWorkItemTitle{
      font-size: 20px;
  }
}
@media (min-width: 1500px) {
    .weWorkTitle {
      font-size: 40px;
      padding-top: 20px;
    }
    .weWorkList {
        max-width: 1080px;
      }
      .weWorkItem {
        margin: 26px auto;
        width: 320px;
        padding: 32px 26px;
        position: relative;
      }
  }