.aboutSection {
  width: 100%;
  padding-top: 50px;
  margin-top: 30px;
  background-color: #1ac2e8;
  color: #fff;
}

.contentWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.aboutTitle {
  padding-top: 12px;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 500;
}
.aboutDescription,
.aboutImage {
  display: none;
}
.aboutDescriptionMob {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 30px;
  width: 80%;
  margin: 0 auto;
}

.aboutDescriptionMob::after {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  margin-top: 40px;
  left: 10%;
  background-color: #fff;
}

.aboutList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.aboutListItem {
  margin-bottom: 20px;
  position: relative;
}
/*.aboutListItem:before,
.aboutListItem:after {
  content: "";
  width: 90px;
  height: 90px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #1ac3e8;
  opacity: 0.4;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
 .aboutListItem:nth-child(1):before {
  top: -30px;
  left: -30%;
}
.aboutListItem:nth-child(2):before {
  top: -30px;
  left: 60%;
  width: 70px;
  height: 60px;
  background-color: #fcbf1e;
}
.aboutListItem:nth-child(2):after {
  top: 60px;
  left: -30%;
  width: 20px;
  height: 50px;
}
.aboutListItem:nth-child(3):before {
  top: -20px;
  left: -22%;
  width: 110px;
  height: 90px;
  background-color: #fcbf1e;
}
.aboutListItem:nth-child(3):after {
  top: 80px;
  left: 54%;
  width: 130px;
  height: 50px;
  background-color: #fcbf1e;
} */
.aboutCounter {
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 700;
}

.aboutListItemText {
  font-size: 15px;
  font-weight: 300;
  margin-top: 6px;
}
.learnMoreWhite {
  margin-top: 20px;
  position: relative;
  background: transparent;
  width: 254px;
  height: auto;
  margin-bottom: 20px;
}

.circleWhite {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
}
.iconWhite,
.arrowWhite {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 40%;
  background: #1ac2e8;
  transform: translateX(-50%);
  width: 1.125rem;
  height: 0.125rem;
}
.iconWhite {
  background: none;
}
.iconWhite::before,
.arrowWhite::before {
  position: absolute;
  content: "";
  top: -0.294rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #1ac2e8;
  border-right: 0.125rem solid #1ac2e8;
  transform: rotate(45deg);
}
.buttonTextWhite {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  /* transition: all ease-in-out; */
}
.learnMoreWhite:hover .circleWhite {
  width: 100%;
}
.learnMoreWhite:hover .arrowWhite {
  transform: translate(7rem, 0);
}
.learnMoreWhite:hover .buttonTextWhite {
  color: #1ac2e8;
}

@media (min-width: 768px) {
  .aboutTitle {
    font-size: 30px;
    padding-top: 10px;
  }
  .aboutList {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .aboutDescriptionMob {
    display: none;
  }
  .aboutSection {
    position: relative;
    padding-top: 90px;
    background-color: #fff;
  }
  .aboutTitle {
    font-size: 40px;
    padding-top: 20px;
    color: black;
  }
  .aboutList {
    background-color: rgb(71, 213, 245);
    padding-top: 20px;
    justify-content: flex-end;
    position: relative;
    top: -150px;
    z-index: 0;
  }
  .aboutListItem {
    padding-right: 50px;
  }

  .aboutImage {
    display: inline-block;
    position: absolute;
    background-image: url("../../../assets/photos/about.png");
    width: 66%;
    height: 430px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0%;
    z-index: 1;
    top: 22%;
    left: 0;
  }
  .aboutDesctopWrapper {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .aboutDescription {
    display: inline-block;
    position: absolute;
    right: 4%;
    width: 34%;
    font-size: 20px;
    font-weight: 300;
    padding-right: 30px;
    color: black;
    top: 34%;
  }
  .aboutDescription::after {
    background-color: black;
  }
  .learnMoreWhite {
    transform: scale(1.2);
    position: absolute;
    top: 71%;
    width: 300px;
    left: 6%;
    z-index: 1;
  }
}
